:root {
	--global-color-1: #800000;
    --global-color-2: black;
}

*{margin: 0;
padding:0;}


html{
	background-color: white;
}

/* the styles for the elements */
body {
	background-color: #931420;
	width: 600px auto;
  height: 100%;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 10px auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	border: 3px solid black;
}
a:focus, a:hover {
	font-style: italic;
}
/* the styles for the header */
header{
	padding-top: 1em;
	padding-bottom: 2em;
    padding-left: 1.2 em;
	border-bottom: 3px solid black;
	background-image: linear-gradient(30deg, white 0%, #931420 100%);
	
}

header h1{
    font-size: 300%;
    color:var(--global-color-2);
    text-align: center;
}

header img {
	float: left;
}
.shadow {
	text-shadow: 2px 2px 2px var(--global-color-1);
}

/* NAVBAR STYLING STARTS */

nav {
    background-color: black;
    color: #fff;
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .nav-links li {
    margin-right: 50px;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size:20px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content li a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 10px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

/* the styles for the main content */

h1{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left:0.5em;
  font-size: 36px;
}


h2{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left:0.5em;
    font-size: 36px;
}

p{
  font-size: 30px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 0;
  
  
}

.grid-container {
    display: grid;
    grid-gap: 20px;
    width: 1fr;
    height: 300px;
    color: black;
  }
  
  .grid-item {
    
    margin-left: 20px;
    margin-right: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    
  }

  .grid-item img {
    
    width: 222.67px;
    height: 222.67px;
  }


  .single-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr;
    background-color: white;
    gap: 20px;
    align-items: center;
  }
  
  .single-grid img {
    width: 50%;
    margin-left: 10px;
  }

  .single-grid p {
    width: 50%;
    margin: 0;
    font-size: 1em;
    line-height: 1.5;
  }
  
  
  .single-grid p {
    width: 50%;
    margin-left: 10px;
    font-size: 1.2em;
    line-height: 1.5;
  }
  


/* the styles for the footer */
footer{
	background-color: #931420;
}

footer p {
	text-align: center;
	padding: 1em 0;
	color: white;
}